body{

  background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyzYREqxQc7SIR5aq9NjxIUnh3bDBUgLZbsbb34ogVKdbxgHaq&s);
  background-repeat: repeat;
}
div{
  background-color: blue;
  border-color: red;
  border-width: 5px;
  border-style: double;

}
p{
  color: #f06007;
}
span{
  background: yellow;
  color: black;
}
