body{
  background-color: green;
}
div{
  background-color: blue;
  border-color: red;
  border-width: 5px;
  border-style: double;

}
p{
  color: #f06007;
}
span{
  background: red;
  color: black;
}
