h1{
  font-family: cursive;
}

p{
  font-family: 'AlexBrushRegular';
   font-weight: normal;
   font-style: normal;
}
body{
  background-color: #c708a1;
  font-size: 20px;
}


h1{
  text-align: center;
}
