body{
  background-color: #032131;
  color: #FDFFFC;
  border: 40px solid #FDE74C;
  border-top: 0px;
}

h1{
  text-align: center;
  font-family: 'Sriracha', cursive;
}
p{
  text-align: center;
  font-family: 'Playfair Display', serif;
}

.emailform{
  text-align: center;
  font-family: 'Playfair Display', serif;
}
